body {
    background-color: gray;
    color: black;
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#cabecera {
    background-color: purple;
    box-shadow: 0px 2px 20px 8px rgba(0, 0, 0, 0.5);
    color:white;
    padding: 1em 0.5em;
    font-weight: bold;
    margin: 0;
}

#cabecera img{
    width: 50px;
    vertical-align: middle;
}

#cabecera #tagline {
    padding: 0 0 0 1em;
    font-weight: normal !important;
    font-size: 0.8em;
}

#container  {
    background-color: white;
    width: 70%;
    padding: 0;
    text-align: left;
    border: 1px solid #DDD;
    margin: auto;
}

#post {
    padding: 0.5em;
    font-size: 20px;
}